[2020-12-26 13:04] bacloud14 opened #1 "Overall better styling of the page"
I believe style is horrible and I need a helping hand.
It would be great if it supports **Mobile phones**. I see it as a single page web app where **weather forecasts** just resides besides the map.
A **footer** and a **header** would be nice.
Resize support for different screens would be nice too.

Please keep it simple, simple design is better, no flashy colors x)

Do not hesitate to add attribu

[2020-12-26 13:46] bacloud14 opened #2 "Spam guard"
Spam guard the web app connections (using Captcha?) and I think of even limiting fast human interactions as API for Google maps and OpenWeatherMap are greedy and can cost a lot. There is absolutely no way for a user to look-up for a second city in like 5 seconds or so. So restricting usage is a solution, I don't want to setup account registration for usage at this point.

[2020-12-28 12:11] bacloud14 opened #3 "Better forecast cards background styling"

[2020-12-28 19:57] bacloud14 commented on #3
Proposition: this is just an amazing package: https://codepen.io/ste-vg/pen/Gqakbo

[2020-12-29 09:48] bacloud14 commented on #1
One bug is:
in div id=featured_picture. background image is well loaded although the div does not appear.

[2020-12-29 22:15] bacloud14 opened #4 "Caching requests using Redis"
Requests using a GET method now are like: `/nearby?lat=xx&lon=yy`
We can keep this as a unique index or add a parameter city.name.
Anyway, in server side, the `app.get('/nearby/:city'` endpoint should use cache when possible instead of gathering nearby cities and weather information.

Something like:
[code]

[2020-12-31 06:59] #4 closed

[2020-12-31 08:36] bacloud14 opened #5 "Add a todays date and clock panel"
Something JavaScript native and beautiful like this:
https://codepen.io/bsmith/pen/drElg

[2020-12-31 08:57] bacloud14 opened #6 "Include Air quality widget"
As a card, for only the current day.
https://aqicn.org/faq/2015-07-28/air-quality-widget-new-improved-feed/

Note that it only works for few major cities, there is one variable that you could inject and see if returns results: `place.name`

[2021-01-03 08:45] bacloud14 commented on #2
helmet and rate-limit added.

[2021-01-03 09:16] bacloud14 opened #7 "Cookies EU banner"
Implement https://github.com/Alex-D/Cookies-EU-banner

[2021-01-03 09:20] bacloud14 opened #8 "Pan to current location"
https://developers.google.com/maps/documentation/javascript/geolocation

[2021-01-04 09:27] bacloud14 commented on #8
Needs to properly populate markers again.

[2021-01-04 09:28] bacloud14 opened #9 "Properly populate markers"
There is bug when a second search is done. Previous markers are not correctly cleaned from the map.

[2021-01-04 09:47] bacloud14 opened #10 "Openweathermap widget is not placed properly"
A rework of this I presume. I tried playing with but couldn't resolve

https://github.com/bacloud14/SunnySunday/blob/73e62d6cdfbd63493f4879654b18e58afc1022d2/openweatherwidget.html#L76

It should appear between menu and footer as normal.

[2021-01-04 21:48] bacloud14 opened #11 "Dark mode"
Implement a dark mode for the homepage. Activated with a toggle button.

[2021-01-05 08:21] bacloud14 commented on #1
Bug:
background repeat is applied to body, while the body is not stretched to content for some reason, background is not repeated to the bottom.

[2021-01-06 15:24] bacloud14 opened #12 "On click or hover show the featured image"
I created a separate card that would contain (or not) a thumbnail of the featured image. On click or on hover should show the featured picture which should be hidden by default.

[2021-01-07 22:52] bacloud14 opened #13 "Routing exceptions"
Implement proper routing responses:

1. Validate and securely escape `/nearby/:city` parameters.
2. Proper response for `/*/` other non valid URLs. (as bad request 400 or 404 not found).
3. Escape Redis parameters.

Links:
https://express-validator.github.io/docs/check-api.html
https://nodesource.com/blog/nine-security-tips-to-keep-express-from-getting-pwned

[2021-01-11 07:01] aditya28sarin commented on #12
Can you assign this issue to me?

[2021-01-11 08:46] bacloud14 commented on #12
Sure Aditya, thanks for passing by. As my policy in this repo, feel free to add an attribution to you, (github..) in footer. When everything works fine.
Did you get the website to work by the way ? with your keys set ?

[2021-01-11 17:56] BashCache commented on #5
Can I work on this issue? Also, in which pages should this feature be included? Only the index page or in all pages.

[2021-01-11 18:03] bacloud14 commented on #5
Hello @BashCache thank you for showing interest. Sure you can work on this ,
I thought a weather webapp should include current user time in a minimal CSS/JS beautiful clock.
The app consist of one important page, plus two other pages I did not work anyway (like header and so...). Please consider working on the main page and from their we can add it elsewhere. Like it is more important, If you feel

[2021-01-17 19:31] bacloud14 commented on #12
Hello @aditya28sarin
any follow up for this ?
thanks 👍

[2021-01-17 19:32] bacloud14 commented on #5
hello @BashCache ,
any follow up for this ? 👍
thanks

[2021-01-18 13:00] BashCache commented on #5
hello @bacloud14,
Apologies for the delayed response. I had some trouble in setting up the API from Google weatherMap. It asks for billing info when I sign in with the GoogleCloud Console platform

[2021-01-18 17:47] bacloud14 commented on #5
OPENWEATHERMAP_API_KEY=bd28a4d61d422ddeb0a1db08ce16c1fc
GOOGLE_MAPS_API_KEY=AIzaSyBcL91cr-kioveamPxcvnQTT4OA9asC1TE
keep secret , I will be deleting these, set port to 3000 for localhost.

[2021-01-18 17:51] BashCache commented on #5
Thanks, noted!

[2021-01-18 17:52] bacloud14 commented on #5
deleted that

[2021-01-22 13:35] #9 closed

[2021-01-23 02:17] bacloud14 commented on #12
no longer need. changed to an album.

[2021-01-23 02:17] #12 closed

[2021-01-24 09:01] #8 closed

[2021-01-24 09:02] bacloud14 commented on #5
Cancelled.

[2021-01-24 17:06] bacloud14 commented on #11
Dark mode does not work well for the followings:

- The lower half (whole HTML not only body)

- Cards title and paragraphs

[2021-01-25 11:14] bacloud14 opened #14 "on search again, search bar and pan to location button are moving away"
I couldn't spot why is this 👎

[2021-01-27 18:55] #14 closed

[2021-01-27 18:56] #11 closed

[2021-01-28 18:15] dksmith328 commented on #1
Hey there. I will get started on this today. Sorry about that wait.

[2021-01-28 18:28] bacloud14 commented on #1
Hey David, I appreciate that ! take your time, thank you so much !
Please do fetch/pull as much has been done since then.

[2021-01-28 19:30] bacloud14 commented on #1
ok, did you try with the same origin that I set on cloud account? which is localhost:3000

[2021-01-28 19:37] dksmith328 commented on #1
Yes sir. I can see the page. The map just doesn’t load.    Sent from Mail for Windows 10 From: AbenSent: Thursday, January 28, 2021 12:30 PMTo: bacloud14/SunnySundayCc: dksmith328; AssignSubject: Re: [bacloud14/SunnySunday] Overall better styling of the page (#1) ok, did you try with the same origin that I set on cloud account? which is localhost:3000—You are receiving this because you were assign

[2021-01-28 19:40] bacloud14 commented on #1
You need a billing account though , so that the key work

[2021-01-28 19:41] dksmith328 commented on #1
I found a work around and just hardcoded the key into the url on index.html. I will make sure to conceal it again before I send it over to you.Sent from Mail for Windows 10 From: AbenSent: Thursday, January 28, 2021 12:39 PMTo: bacloud14/SunnySundayCc: dksmith328; AssignSubject: Re: [bacloud14/SunnySunday] Overall better styling of the page (#1) probably this is another error, you can check consol

[2021-01-28 19:57] bacloud14 commented on #1
ahh I get you, in fact, I was doing it that way, there is no rendering involved. in reality there is no workaround, they will definitely end-up in user browser, this is how these client libraries work.
I suggested a minor improvement [here ](https://github.com/googlemaps/google-maps-services-js/issues/551#event-4261558204) today, it happens it is complicated to evolve to this ...

[2021-01-28 20:01] bacloud14 commented on #1
I think the confusion came from my side, the .env file, where I put the Google map key which is not used to render on client side at all.

[2021-01-29 11:04] samy1998 commented on #1
Hello, I would like to work on your project in order to improve it. I am currently a student in my 3rd year computer science degree in France.

[2021-01-29 13:02] bacloud14 commented on #1
Hello Samy, sure! You are very welcome. This issue is assigned to @dksmith328  and me for the moment. From my previous experience, working on style in the same time yields a hell of conflicts.
So, I suggest you take a look on other issues for now until @dksmith328 pushes some improvements.

[2021-01-29 13:04] bacloud14 commented on #1
If you like design the most, just wait and we see.

[2021-01-29 18:16] bacloud14 opened #15 "Setup simple subscription and authentication"
This is an important task, we can use oAuth or plain email subscription. Technically, there are multiple options:

1. A PostgreSQL database or other lighter solution must be added (lot of work).
2. Semi-managed like web Firebase of Google.

It's purpose is to "help" limiting costly Google Map and OpenWeatherMap calls.

Google Map served to web users cannot technically be restricted and fully contr

[2021-01-30 02:58] #15 closed

[2021-01-30 14:21] samy1998 commented on #1
I will wait otherwise I will look at the other possible contributions

[2021-01-30 14:51] bacloud14 commented on #1
@samy1998 please see this https://github.com/bacloud14/SunnySunday/issues/6

Of course you contribute as you wish.

[2021-02-01 16:41] darnuria opened #16 "Add licence file + mention in readme about it."
Hi! Would suggest a good first issue: Add ISC licence to the project (file+readme mention) according to this line in `package.json` https://github.com/bacloud14/SunnySunday/blob/master/package.json#L12

Would send a clear signal to other contributor and user what are their right.

Thanks have a good day. :)

[2021-02-01 16:58] bacloud14 commented on #16
Shuut, I missed property licensing the "GitHub repository", although I was aware about the default nom license.
Again shuut :) I need to revise licenses for something like "use,  modify, include same license, mention this one root license, no sublicensing" Which is not ISC nor MIT.

[2021-02-01 16:58] bacloud14 commented on #16
Thanks for pointing out 😃

[2021-02-02 15:36] darnuria commented on #16
No problems. :D

[2021-02-02 15:38] darnuria commented on #16
I love this website for getting an idea about licenses https://choosealicense.com/

[2021-02-03 11:51] bacloud14 commented on #6
using weather cards now instead, one card for air quality.

[2021-02-03 11:51] #6 closed

[2021-02-03 11:58] bacloud14 opened #18 "Add weather alerts panel"
Benefit the one call to openweathermap
https://openweathermap.org/api/one-call-api

It also returns "alerts" in addition to weather forecasts.  Alerts might be rendered in a modal window https://getbootstrap.com/docs/4.0/components/modal/ or on a panel inside the map like this example:
https://google.org/publicalerts

[2021-02-03 12:10] bacloud14 opened #19 "Share weather cards on social networks"
Add a share button on each HTML card to be shared, we can render the HTML dom to an image on the fly (share click) using one library like:
https://github.com/tsayen/dom-to-image to be shared.

Or make a permanent link for each card, and share the link. This is harder, as on server side, we need to permanently cache the card page (and this need a database not jus Redis as it is now).

[2021-02-03 12:14] bacloud14 commented on #19
hard to achieve. canceling this.

[2021-02-03 12:14] #19 closed

[2021-02-03 14:42] #10 closed

[2021-02-04 23:09] bacloud14 commented on #5
Hi @BashCache
any follow up ? :) or I close soon.

[2021-02-05 11:06] BashCache commented on #5
Hi @bacloud14
I have my terminal exams going on and I think it will be quite difficult for me to complete by next week. Is it fine to do after that?

[2021-02-05 11:20] bacloud14 commented on #5
sure. we'll see how it goes, as it is evolving very quickly (see last commits).
but yes, w'll keep this open, please consider your exams. good luck

[2021-02-05 15:04] #16 closed

[2021-02-05 15:05] #5 closed

[2021-02-05 21:51] bacloud14 opened #20 "Custom 404 response page"
It should include header and footer and a message 404 resource not found.

[2021-02-06 09:51] bacloud14 opened #21 "Going online task list"
Finish development

- [x] Finish current issues which are:
- [x] Fix weather alerts panel, this one is a panel on Google map that is floating unpredictably on window resize.
- [x] Other minor issues.
- [x] Accessibility: this one is 50% implemented, it listens to user but does not tell forecasts yet.
- [x] Robots.txt and sitemap.xml

Deployment

- [x] Choose Heroku Redis as a store and re-implemen

[2021-02-06 12:06] bacloud14 opened #22 "Manuel testing"
Setup project and test different possible flows of user experience. spot runtime errors.

[2021-02-07 23:18] bacloud14 opened #23 "Make a promotion video"
Make a promotional video and add it to readme file. Hosted on YouTube preferably.

It should contain the followings:

- Entrance: what is weather venue as a website (not open source project)
- Demonstration of all functionalities: search for a city, see surrounding cities forecasts, illustrate alerts panel and finally air quality card.
- Note the followings: weather map tab, languages, accessibili

[2021-02-07 23:20] bacloud14 commented on #23
Maker must successfully run on localhost with suitable keys. Ask me if you cannot afford any.

[2021-02-08 14:22] bacloud14 commented on #1
Keeping this open for some time.
For quick tests on browser console here is a new dummy version https://bacloud14.github.io/WeatherVenue/ without deployment !

[2021-02-08 14:22] bacloud14 commented on #3
Keeping this open for some time.
For quick tests on browser console here is a new dummy version https://bacloud14.github.io/WeatherVenue/ without deployment !

[2021-02-08 16:22] dksmith328 commented on #1
Wow! This is really great. I love the full-screen view. Just wanted to let you know my progress. As much as I love the gradient, I was not able to make it work responsively. It also did not work with the Dark Mode, so I readjusted the color for the backgrounds, but I think they look nice. I added the container at the top for languages and added the Arabic page. I added space for the gallery. I am

[2021-02-08 16:33] bacloud14 commented on #1
Great to hear ! I am so excited for it. take your time.
Could you make forecast weather cards appear in one row in desktop (size like) and one after the other (in many rows) for mobile (size like) devices ?
That would be great but please this is not a necessity. we already have much improvements from your side at a time. I can try myself too.

[2021-02-08 16:37] dksmith328 commented on #1
Yes. I was worried about a mobile version. But I will figure something out.  Sent from Mail for Windows 10 From: baSent: Monday, February 8, 2021 9:34 AMTo: bacloud14/WeatherVenueCc: dksmith328; MentionSubject: Re: [bacloud14/WeatherVenue] Overall better styling of the page (#1) Great to hear ! I am so excited for it. take your time.Could you make forecast weather cards appear in one row in deskto

[2021-02-08 19:26] bacloud22 opened #24 "Better handle accessibility support across browsers"
Not all browsers support `SpeechSynthesisUtterance` , `SpeechRecognition` and `webkitSpeechRecognition`.
The goal is to safely handle different browsers. (desktop and mobile).

find those in `_fireAccessFunctions` function

https://github.com/bacloud14/WeatherVenue/blob/0c03a534877f8754f292f62a7bd092beffcb40bb/js/js_variables.js#L282

which also calls

https://github.com/bacloud14/WeatherVenue/blo

[2021-02-11 19:54] bacloud14 opened #26 "Ongoing work by me"
- [x] Document the whole code
- [x] Proper deploy on Heroku (postdeploy function to render html pages to share on https://github.com/bacloud14/-WeatherVenue-Issues)
- [x] Better code, probably a diagram of request-response and possible user interactions
- [x] Test
- [x] Alerts panel issue
- [x] Sentry to catch runtime errors
- [ ] Setup reCAPTCHA

[2021-02-15 08:19] bacloud23 opened #28 "Provide translations"
At this moment, the code is well decoupled so that someone with minimal JavaScript skills can understand how it works.
I mean, I did not use external files or any other localization library, it's all implemented in plain JavaScript (dictionaries, functions, switch case blocks ...).

We have English and Arabic, but we need more. Spanish, Dutch, Chinese, Japanese and any other tongue is welcome.

[2021-02-19 15:41] #18 closed

[2021-02-22 04:43] ME-ON1 commented on #20
I can take this issue.

[2021-02-22 07:04] bacloud14 commented on #20
Thanks @ME-ON1 for showing interest 😁
Please include partials like in index page, because they are already implemented: head, navbar, footer,...

[2021-02-22 18:13] ME-ON1 commented on #20
[code]
hey, i was setting up this project locally but was getting this error. Any idea about this??

[2021-02-22 19:08] bacloud14 commented on #20
kindly see this: https://github.com/bacloud14/WeatherVenue/blob/master/CONTRIBUTING.pdf

of course I'm using Redis, I don't expect it another thing. Check your `.env` file, you must create one with these:

[code]

let me know 💯

[2021-02-22 19:16] bacloud14 commented on #20
I run the project without running Redis server, I got the same error. so it is Redis server.

[2021-02-22 21:55] #26 closed

[2021-02-22 21:55] #23 closed

[2021-02-22 21:55] #21 closed

[2021-02-23 08:00] bacloud14 opened #30 "Vertical scroll magnetic effect"
Considered sections:

https://github.com/bacloud14/WeatherVenue/blob/6e01d66a95703593c368e861be1245d9c89b1e04/views/index.ejs#L30
https://github.com/bacloud14/WeatherVenue/blob/6e01d66a95703593c368e861be1245d9c89b1e04/views/index.ejs#L36
https://github.com/bacloud14/WeatherVenue/blob/6e01d66a95703593c368e861be1245d9c89b1e04/views/index.ejs#L44

[2021-02-23 20:12] TelescopeThieves commented on #3
Hey I'd like to have this assigned to me. I can take a crack on the forecast card design.

[2021-02-23 21:04] bacloud14 commented on #3
Hello @TelescopeThieves

Sure ! I am very happy about that !

[2021-02-23 21:11] bacloud14 commented on #3
Let me know about anything meanwhile about keys if you need to setup the project.

[2021-02-23 22:55] TelescopeThieves commented on #3
Yeah any direction about how to setup the project would be great, this is
the first time I'll be contributing to an open source project and I
currently just have knowledge in HTML, CSS and JavaScript.

On Tue, Feb 23, 2021 at 4:11 PM ba <notifications@github.com> wrote:

[2021-02-23 23:48] bacloud14 commented on #3
I made this presentation you can take a look, https://github.com/bacloud14/WeatherVenue/blob/master/CONTRIBUTING.pdf
Configure `.env` with these keys:

[code]
- localhost port must be 3000, because keys set on server are excluding domains other than `localhost;3000` (Google maps and openweathermap)
- Redis server must be running

You can set your keys, but tell me how I can send you mine if not po

[2021-02-23 23:50] bacloud14 commented on #3
also clone and run `npm install` then run Redis, then run `npm start`.

[2021-02-24 12:00] bacloud14 commented on #3
please `git fetch` then `git pull` since you are behind a big commit

[2021-02-24 12:01] bacloud14 commented on #20
please `git fetch` then `git pull` since you are behind a big commit

[2021-02-27 21:40] bacloud14 commented on #3
@TelescopeThieves hello!
Any follow up with this?
Thanks!!

[2021-02-28 17:24] jordanfinners opened #31 "Feedback"
Hey @bacloud14
Here's your code review! Please let me know if this makes sense, or if there is anything you want more help/info on.

I would not include your keys in the repository, I know you are trying to help people out but it could lead to a large bill or abuse in some way.
I've also seen one is hardcoded in [here](https://github.com/bacloud14/WeatherVenue/blob/master/views/html_dependencies/w

[2021-02-28 17:47] bacloud14 commented on #31
This is very valuable, I appreciate your review so much !!
The list is long but everything is so clear, and I feel like agreeing on each point. I will move on with these suggestions as there is no time to let go, everything is neat.
I probably have a question or two and will be back later or tomorrow.
thanks a lot !

[2021-02-28 19:53] jordanfinners commented on #31
Great! Any questions just let me know 😊

[2021-03-01 17:27] bacloud14 commented on #31
I'm back :)
The list is long and keeping me motivated I already had some changes while I agree on everything except what I did not understand.

- The app is running, probably due to my bad habit of a lot of commits, it went off the time you tried. check this: https://www.weathervenue.com/ (you can check your city ⚡ )
- About serverless applications, i don't see necessarily the utility here ? what

[2021-03-02 05:06] TelescopeThieves commented on #3
Hey ! I had to leave town for a few days for a family thing but I'm back
and I'm working my way thru installing the dependencies and all the stuff
on the doc ... It's my first time dealing with nodejs and redis etc so I'm
working slowly but I'll be tackling it all week, I'll reach out if I have
questions but so far it looks like I'm getting it !

-Mario

On Sat, Feb 27, 2021 at 4:41 PM ba <notific

[2021-03-02 07:30] bacloud14 commented on #3
Sure. No hurry, no deadlines. I just wanted to know if nothing blocks.
Just a note I forgot to mention, when you setup and run the project, you can search for a city. Then cards appear like in captures in readme page.

I just want you to keep the two colours which are a reflection of minimum and maximum temperatures in a day, which is calculated in

https://github.com/bacloud14/WeatherVenue/blob/a

[2021-03-02 09:52] bacloud14 commented on #30
it should stick only when one city is searched for. (otherwise the web page is empty)

[2021-03-02 09:53] #2 closed

[2021-03-05 05:07] ME-ON1 opened #35 "Changing Language Redirecting to wrong Route"
It's currently Redirecting to `/fr` or `/ar` but it should be `/${pass}/ar`.

It will be a easy fix i guess,

[2021-03-05 05:08] ME-ON1 commented on #35
which leads to 404 page which is usual

[2021-03-05 12:13] bacloud14 commented on #35
Thank you for issuing this, I will check this later. Actually, ${pass} which is an empty string in prod and some random string in dev.

I thought of this simple security scheme  so that anyone who wants to contribute, would access any route as it is defined, plus his/her password.  Like for example:
`localhost:3000/fodjfoijodjjpofijq/ar`

This way, he/she can define an origin for keys for Google m

[2021-03-05 13:42] ME-ON1 commented on #35
well, i can work in this issue !!
can solved with conditional href attribute  for prod it can be `localhost:3000/fr` and for dev can be `localhost:3000/${pass}/fr`. If you want to keep pass in dev.

[2021-03-05 16:40] bacloud14 commented on #35
yes, absolutely that is the idea./ but that does for all resources, and also, I saw that -for some reason, when I go from `localhost/axxxxxx/` to `localhost/axxxxxx/ar` for example, other links would be like `localhost/axxxxxx/axxxxxx/fr` (which is inaccessible).

If you can work on it, thanks a lot ✌️ 😃 .

[2021-03-05 16:51] bacloud14 opened #36 "Add link to contributors, and to contribute on Github"

[2021-03-05 16:52] bacloud14 commented on #35
See this please, https://github.com/bacloud14/WeatherVenue/issues/36 if you want to add a placeholder and link back to https://github.com/bacloud14/WeatherVenue/graphs/contributors

[2021-03-06 13:16] bacloud14 opened #37 "Transform XMLHttpRequest requests to fetch with cache"
Apparently, `fetch` makes it easier to make asynchronous requests and handle responses better than with the older `XMLHttpRequest`. Other than that, I want to implement cached requests for all requests in `GMap.js`. Requests to be caches for say 5 hours. **This cache is only for our APIs, and surely not for Google APIs** (not allowed except some few conditions according to [this](https://developer

[2021-03-07 05:52] ME-ON1 commented on #37
Axios can be used instead Fetch it works better with async too

[2021-03-07 06:32] bacloud14 commented on #37
yes, I think both are good, I will check some stable axios with cache fork out there.

[2021-03-07 18:44] #31 closed

[2021-03-07 18:44] #36 closed

[2021-03-07 21:51] bacloud14 commented on #37
resolved for `nearby` API, closing for now.

[2021-03-07 21:51] #37 closed

[2021-03-08 04:30] ME-ON1 commented on #13
Are you working on this ??

[2021-03-08 08:31] bacloud14 commented on #13
I did validation of inputs only.

[2021-03-08 10:08] ME-ON1 commented on #13
OK done

[2021-03-08 10:22] bacloud14 commented on #13
We already worked on 404 by the way? I copied your addition in the last pull request and add some changes in the last commit.

[2021-03-08 10:22] bacloud14 commented on #13
This should be resolved no?

[2021-03-08 11:40] ME-ON1 commented on #13
Yeah!! if you are looking any non-listed route then they will be going straight to 404 page.
but it can be done better , i guess, with more better error handling with 5xx and 4xx codes like mentioned by you!!

[2021-03-08 11:59] bacloud14 commented on #13
yes I agree, I forgot about "status" you are right. anyway, you can claim this, or let go for now, not urgent.

[2021-03-09 13:45] ME-ON1 commented on #30
Isnt this will be hard when doing with pug!?
Can we use jquery via CDN or something??

[2021-03-09 14:25] TelescopeThieves commented on #3
Hey I have this in my .env file so far. Do I need keys for honeypot,
abuseipdb, and sentry key? If so where do I get them.

NODE_ENV=dev
PORT=3000
REDIS_PORT=6379
HONEYPOT_KEY==##########
OPENWEATHERMAP_API_KEY==d59f8b97547b4621fe93ee8c0f1d81e1
GOOGLE_MAPS_API_KEY==AIzaSyC1f81OvAagZy10Lw02SEkegyONTaZEzsY
ABUSEIPDB_TOKEN==##########
SENTRY_KEY=##########

On Wed, Feb 24, 2021 at 7:01 AM ba ***@***.

[2021-03-09 15:31] bacloud14 commented on #3
No you don't really. Because these are services used in Production only. You can keep them like that ###
But I changed the `openweathermap` key, would you claim one for yourself please ? https://openweathermap.org/register
Please care not to share it in Github when you push.

fyi:
HONEYPOT_KEY is for HONEYPOT which is a spam IP database
ABUSEIPDB_TOKEN is not used anyway, I forget it there, ABUSEI

[2021-03-09 15:34] bacloud14 commented on #3
Also GOOGLE_MAPS_API_KEY actually. I deleted that one too. let me know if you need one (via email only.)

[2021-03-09 15:36] bacloud14 commented on #30
if I get you, JQuery is already there.

[2021-03-09 16:12] ME-ON1 commented on #30
Sorry not pug!? I meant ejs !!

[2021-03-09 16:13] ME-ON1 commented on #30
I can work on this issue btw if you're not working on this

[2021-03-09 17:15] bacloud14 commented on #30
I am not working on this. You are welcome, thanks !!!

[2021-03-09 20:24] #20 closed

[2021-03-11 15:06] bacloud14 opened #39 "Setup UI test"
With a richer UI, I think it is good to set some UI testing for desktop and mobile devices. Some interactions with dom elements are like "firstelementchild" or accessed by index on "childNodes", It is easier now to break the website with additions.

There are also some global variables like "center, language, etc.". Navigating through pages can cause errors.

This issue is to work on a more robust

[2021-03-11 15:21] bacloud14 opened #40 "Code review"
I hope someone revive this project. Code is getting bloated, I couldn't get around that adding functionalities.
"Naming conventions, clean and minimal code" all result in a "more robust to scale" webapp.

Code concerned is JS scripts here https://github.com/bacloud14/WeatherVenue/tree/master/src/js

[2021-03-12 16:17] aditisingh2412 commented on #28
Hey, I'm a newbie :) Can I work on this?

[2021-03-12 17:43] bacloud14 commented on #28
hello @aditisingh2412 . Sure. However project evolved from it's initial versions. Tell me if you could install it on local then I assign this to you.

[2021-03-13 13:05] aditisingh2412 commented on #28
We have to provide translation in accessibility.js?

[2021-03-13 13:46] bacloud14 commented on #28
no, now it's in
https://github.com/bacloud14/WeatherVenue/blob/master/src/js/lang_mappings.js
and
https://github.com/bacloud14/WeatherVenue/blob/master/helpers.js

Adding a new language is not that easy, but we can add more languages in these, but to make them visible, there are more tweaks in UI and also back end.

[2021-03-13 16:24] bacloud14 commented on #28
You can work on these two files only. If you get how variables are propagated between back and front, you can go for it too. Otherwise I do it.

[2021-03-14 03:28] aditisingh2412 commented on #28
Ok, I'll look into it :)

[2021-03-14 08:18] bacloud14 opened #42 "Rework all colors !!! (Color Theory involved)"
I made colors out of my taste. Not good 👎 .
Dark mode using real black. Not good 👎 .
Bootstrap elements have very limited colors. Not good 👎 .
Staying harmonious with hue colors that reflect real temperature. Not good enough 😞 .
Having a look [at](https://www.webdesign-inspiration.com/web-designs/style/dark) then to weatherVenue. Not good 😥 .

Any designer 👨‍🎨 with a fine touch 🎨 to:

1. Either pr

[2021-03-14 08:22] #35 closed

[2021-03-14 08:33] bacloud14 opened #43 "Lighthouse and other SEO revision"
Run Lighthouse audits (or others) and act accordingly.

[2021-03-15 16:59] #3 closed

[2021-03-17 22:06] bacloud14 opened #49 "Add three.js weather scenes"
I already added sun and rain scenes, check this https://github.com/bacloud14/WeatherVenue/discussions/48

Hopefully, we can add more
Like this one
https://codepen.io/shubniggurath/pen/BVKgJK
And
https://codepen.io/shubniggurath/pen/WgJZJo

[2021-05-10 23:30] grimxreaper commented on #42
Hi @bacloud14 ! I'm not a designer, but I love making things pretty and easier on the eyes. I could propose a set of colors and try my hand at this if that's alright?

[2021-05-10 23:33] bacloud14 commented on #42
I really appreciate this. It's yours
Thanks 👍

[2021-05-11 21:23] #1 closed

[2021-05-11 21:32] grimxreaper commented on #42
I followed your deployment guide and installed Redis but when I ran `npm install` to install dependencies and manually installed all the ones included in your slides [here](https://github.com/bacloud14/WeatherVenue/blob/master/CONTRIBUTING/CONTRIBUTING.pdf) under 'setup' (which you can see at the top of the image I attached). I received these errors that have to do with `gyp`, which I'm not sure w

[2021-05-11 23:01] bacloud14 commented on #42
ok, you should not install anything manually after running `npm install`. As the tutorial was for how to build the whole project from scratch when you don't base your work on this repo.

In regards of the error, I do not know myself, however i think you are running on MacOS ?

I don't know about `node-pre-gyp` but I feel like it is demanded for your specific OS.

I can see sqlite3 demands `node-pr

[2021-05-11 23:07] bacloud14 commented on #42
-  I need to install XCode for this project?
not at all! feel free to use your best IDE. I use VSCode.

[2021-05-11 23:10] bacloud14 commented on #42
houray, `sqlite` is demanded by `offline-geocoder` which is not used anymore in this project and I forgot to clean it. You should remove it from `package.json` hoping sqlite is not used by another dependency there, and all should go right.

[2021-05-12 01:09] grimxreaper commented on #42
- removed `offline-geocoder`
- ran the npm install again
- installed nvm and switched to v12.16.3
- installed gyp
All finished successfully!

Before moving on I want to make sure I am using the right guide is [this ](https://github.com/bacloud14/WeatherVenue/discussions/33)the right one for deployment? So I will be picking up from Step 3: creating the .env file and getting all those API keys to fi

[2021-05-12 09:32] bacloud14 commented on #42
Yes that guide is complete, but don't hesitate if anything goes wrong as there are some constraints.

Just run "Redis server" you have already installed separately and see logs in console. `6379` in mine, then pick it as a value that client (weathervenue) will connect to.

**[projecthoneypot](https://www.projecthoneypot.org/ )**  is one of the oldest, very effective databases against Spams.

As we

[2021-05-12 20:52] grimxreaper commented on #42
Hey there,

So for some reason, even after filling out all my keys in my .env file, I get the error **"Your port is undefined"** when I run `node server.js`. I installed [this npm package](https://www.npmjs.com/package/dotenv) thinking that perhaps it would help it find the PORT number if it wasn't accessing the .env file but it did not help. I'm pretty much stuck at this point since I've tried to

[2021-05-13 01:17] bacloud14 commented on #42
You should run `node index.js` or as in `package.json` `npm start`.

no, no, no...
the code getting variables (dotenv) is already defined everywhere in the project. **The file that dotenv relies on must be named .env**

so Yes, the error `Your port is undefined` is because the file was not properly created. just create a file named `.env` and only put text in it, no JS no require nothing else...

[2021-05-13 01:23] bacloud14 commented on #42
exactly `.env` must be in project root folder, with plain text in it like:

NODE_ENV=dev
PORT=####
REDIS_PORT=####
HONEYPOT_KEY=#######
OPENWEATHERMAP_API_KEY=********************************
GOOGLE_MAPS_API_KEY=#########-#######################
SENTRY_KEY=#####@####

dev and not development because that is the value defiled elsewhere in project like ` if (process.env.NODE_ENV === 'dev' ||  ...`

[2021-05-13 14:48] grimxreaper commented on #42
Ah okay awesome, great! I did so, but then right before launch it gave me a Type error based on the code. I didn't want to alter the code at all before showing you this.

<img width="808" alt="Screen Shot 2021-05-13 at 10 47 02 AM" src="https://user-images.githubusercontent.com/64915527/118142845-c1c2a980-b3d8-11eb-82bb-83f23fdc7421.png">

[2021-05-13 18:05] bacloud14 commented on #42
Ok, great, that is another variable also defined on .env

I think it is required always but used only when env=prod please verify that environment variable is equal to "Dev" in your .env file.

Anyway, I will check later and come back for exact answer.

[2021-05-13 18:19] grimxreaper commented on #42
Yes, I changed it to Dev from dev and now I think I just need a Sentry key per this error. The Sentry key wasn't in your Deployment guide so I didn't know I needed it! But I just want to make sure, [this Sentry for Javascript](https://docs.sentry.io/api/projects/create-a-new-client-key/) is what I need to install? How do I then get the key? (Their docs mention this "The key's secret and public key

[2021-05-13 18:25] bacloud14 commented on #42
I'll verify all shortly

[2021-05-13 18:50] bacloud14 commented on #42
let's break it little by little,

we have this branch in code:

https://github.com/bacloud14/WeatherVenue/blob/5fcb50bc54882ef87dcbb3024821e774c2c053df/index.js#L16

So Sentry is really needed only when `process.env.NODE_ENV !== 'dev'`. Then you don't really need neither an account nor a key,value in .env

Now about `pass`, this branch is the opposit:

https://github.com/bacloud14/WeatherVenue/blo

[2021-05-13 18:53] bacloud14 commented on #42
NODE_ENV=dev and not NODE_ENV=Dev ! you changed it wrongly.

[2021-05-13 19:05] grimxreaper commented on #42
Okay great that fixed that, but even with removing ` app.use(helmet({ contentSecurityPolicy: false })) `, it still doesn't render the map or images...Hmmm. And I don't see an error for it...

<img width="1664" alt="Screen Shot 2021-05-13 at 3 04 14 PM" src="https://user-images.githubusercontent.com/64915527/118174237-90f46b80-b3fc-11eb-977b-34c6cb4e39aa.png">

[2021-05-13 19:09] bacloud14 commented on #42
yes, I guess it's Google Maps APIs in your account are restricted to origins other than `localhost:3000`

I put in guide:

Enter the API you created, then you 'should' restrict accepted origins, this is a soft layer of security for your key in case it slip publicly. I suggest you restrict connections to something like localhost:3561 where 3561 will be the port of your Node.js server.

In your case

[2021-05-13 19:14] bacloud14 commented on #42
like if you did not set a billing account (free 200$ quota per month, so very large for dev purposes)

[2021-05-13 19:25] grimxreaper commented on #42
Finally everything is up and running! 😅🥳

[2021-05-13 19:32] bacloud14 commented on #42
Hooray, glad you learnt few things !

[2021-05-13 20:00] grimxreaper commented on #42
Yes I'm glad! Before I change the colors, do you have a preference for one of these combinations?
[A](https://ibb.co/C7gBmLv)
[B](https://ibb.co/Wsmvns8)
[C](https://ibb.co/PxNqMtT)

[2021-05-13 20:05] bacloud14 commented on #42
I like these pallets really, hard to figure out, but I would go for A

[2021-05-13 20:16] bacloud14 commented on #42
Please, as always I suggest to add a link to your repo/portfolio in index page in footer.
(if you want to 😄 )
It goes live on weathervenue.com 🥇

[2021-05-13 20:47] bacloud14 commented on #42
something I didn't mention, each modification on JS need to run `gulp version_dependencies`  before `npm start` again to see results.

[2021-05-14 08:21] bacloud14 commented on #42
Harmonious colors, easier on eyes thanks to @grimxreaper
closing for now.

[2021-05-14 08:21] #42 closed

[2021-05-14 16:02] ME-ON1 commented on #30
Nope sorry man i got involved into some other tasks.

[2021-05-14 17:29] #30 closed

[2021-09-05 11:58] bacloud14 opened #57 "Friendly explanatory visible text"
Something like:

"let people find best places to visit in their entourage; For warmer winter weather vacation or cool summer escapes."

Should be multilingual.

[2021-09-18 15:52] bacloud22 opened #58 "Decouple Gmap.js and client side javascript files"
All files are loaded in different pages, It would be better to write a modular code instead. Especially the main file which is [GMap](https://github.com/bacloud14/WeatherVenue/blob/master/src/js/GMap.js)

[2021-09-18 16:04] bacloud14 opened #59 "Any room for client side performance ?"
The page seems very slow. Is it just Google Maps and therefore there is nothing to do about ?

[2021-09-24 21:54] callumreid commented on #59
I would be interested in looking into this if that is alright! @bacloud14 I have not contributed to open source before but just completed some optimizations on a recent React/Node.JS project and would like to continue learning through doing.

[2021-09-24 21:57] bacloud14 commented on #59
Hello @callumreid , please feel free, I'm glad you are contributing to this.
Let me know if you need any help going through installation. Good luck 😃

[2021-09-27 22:08] callumreid commented on #59
Hi @bacloud14 , I'm working through installation and set up currently and have run into a slight issue. I followed the getting started docs (https://github.com/bacloud14/WeatherVenue/discussions/33), cloning the repository, installing dependancies, and creating a .env file and populating it with keys I generated.  I also included `PASS=` in the .env file as referenced in this previous issue (https

[2021-09-27 22:32] bacloud14 commented on #59
@callumreid Thanks you for summing up the db step. I will add that as you suggested.

I'm happy that installation is set ready.

Good luck

[2021-09-30 16:54] srijit2002 commented on #57
@bacloud14 I want to work on this issue. Can you please list the files I need to work on?

[2021-09-30 16:57] bacloud14 commented on #57
Hello @srijit2002
I'm glad you are willing to work on this. You should figure that out 😃 easy.
Index page.

[2021-10-02 08:28] srijit2002 commented on #57
@bacloud14 I am having problem in . So, I am unassigning it myself. Sorry :-(

[2021-10-03 00:44] JoseBorbon commented on #28
hey bacloud, I am working on the set up locally so that I can work on Spanish translations. I managed to get up to the last API key.

The last bullet point says if I plan to make changes to those files then I must run those commands?

Also for gulp version_dependencies I tried to run that and it kept giving me

Error [ERR_REQUIRE_ESM]: require() of ES Module, Instead change the require of index.js

[2021-10-03 08:15] bacloud14 commented on #28
Thank you for contributing to this 😃

3- Index files are here: https://github.com/bacloud14/WeatherVenue/tree/master/views
I didn't use a translation library so that text is provided in JSON files or something separate, it is simply a replica of Index files for different languages.

2- Now back to the error, Check this [thread](https://stackoverflow.com/questions/57169793/error-err-require-esm-how

[2021-10-09 10:56] #57 closed

[2021-10-09 10:57] bacloud14 opened #62 "Friendly explanatory visible text"
Something like:

"let people find best places to visit in their entourage; For warmer winter weather vacation or cool summer escapes."

Should be multilingual.

[2021-10-09 11:06] bacloud14 commented on #59
Hello @callumreid ,
Did it work for you ? any follow up ?
Good luck !

[2021-10-10 07:25] nicoolel commented on #62
hello, i'm wondering where you want this text on the home page. can i be assigned this issue?

[2021-10-10 07:58] bacloud14 commented on #62
Sure,
Like an introductory text: under menu I think is the best place to welcome visitors/
Happy coding

[2021-10-10 09:45] bacloud14 commented on #62
Just neat ! thank you @nicoolel

[2021-10-10 09:46] #62 closed

[2021-10-14 20:37] callumreid commented on #59
Hi @bacloud14. I looked into improvements that could be made for improving client side performance, and saw that the current metrics of the site are quite good. The biggest improvement that Lighthouse metrics suggest is to serve images in next-gen formats (WebP or AVIF), but I am not sure how to implement this for the images coming from google maps. The other notable suggestion is to reduce unused

[2021-10-30 14:41] bacloud14 commented on #49
Hello guys , is this rolling?
Thank you 😃

[2021-10-30 19:23] japneetsingh035 commented on #49
Hi @bacloud14, Yes! I am halfway through one scene will share the pr once done!

[2021-10-31 06:25] bacloud14 commented on #49
@japneetsingh035 a three.js scene is much better.
I really appreciate your contribution but three.je is a must here. Thanns

[2021-10-31 07:43] japneetsingh035 commented on #49
Ohh! I am sorry, but I don't have an understanding of that code that was written and I can't copy & paste it as it is I assume. It's okay! I am happy to contribute even if it was not acceptable. Thank you for the opportunity.

[2021-10-31 07:50] bacloud14 commented on #49
I'm glad you learnt few things. Many thanks and keep an eye on issues if you want.
I'm always available to help
thanks

[2021-11-01 20:04] #13 closed

[2021-11-01 20:04] #40 closed

[2021-11-08 21:23] #49 closed

[2021-11-20 13:27] bryandms commented on #28
Hi @bacloud14 👋🏼
I suggest that you make a `lang` folder in the project where you create a file per language and an `index.js` where each of these files is exported.

E.g.
[code]

This is easier to maintain when you have many languages and need to make a change. If you want to make the suggestion let me know and I can do the refactor.

[2021-11-20 13:56] bacloud14 commented on #28
Hello @bryandms,

Thank you for your suggestion, it seems cleaner for me.
Also thanks for reviewing https://github.com/bacloud14/WeatherVenue/blob/17234d753d00c6d5c05e15793abbe434675a8763/helpers.js#L90
We need to through client side also though
https://github.com/bacloud14/WeatherVenue/blob/master/src/js/lang_mappings.js
I was thinking of using the same internationalization library like I used in

[2021-11-20 13:58] bacloud14 commented on #28
If not, I will rework translations but later as I'm on another project for now.
Thanks anyway 😃

[2021-11-20 14:25] bryandms commented on #28
Great, I'm going to work on it.

[2021-11-20 15:25] bacloud14 commented on #28
Thanks @bryandms good luck

[2022-04-25 05:06] susham commented on #58
@bacloud22  Is this issue still open?  I would like to work on it.

[2022-04-25 06:17] bacloud22 commented on #58
Yes @susham
Feel free to contribute

[2022-05-04 16:37] bacloud22 commented on #58
Hi @susham
Any follow up?
Good luck 🤞

[2022-05-05 00:11] susham commented on #58
@bacloud22 I didn't get a chance to work on this issue. Will work on it this week and update

[2022-05-07 00:46] susham commented on #58
@bacloud22  I am still trying to understand the codebase would like to understand, what do you mean by "Decouple Gmap.js and other client side javascript files"

Can you please give an example?

[2022-05-07 06:21] bacloud22 commented on #58
Hello Susham,
So in JS as in many languages, we have structures, like Classes, functions, ...
I just meant a "better code", more decoupled as You can see now it is a mono block and not easy to understand,
Anything else like variable naming, code style etc etc, could be refactored.
Good luck !

[2022-05-30 08:40] dr-dimitru opened #72 "Apply to "sponsors" to get 7$/mo for the website"
[Apply here](https://github.com/sponsors), or place your [PayPal link](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/displaying-a-sponsor-button-in-your-repository) via [FUNDING.yml](https://github.blog/2020-03-24-getting-started-with-github-sponsors/#displayprofile) — I'm sure community will help you to going above $7/mo

[2022-05-30 08:57] bacloud22 commented on #72
Thanks @dr-dimitru !!! appreciate,
I will consider that,,,

[2022-08-02 08:39] #58 closed

[2022-08-02 08:40] #24 closed

[2022-08-13 11:43] bacloud22 opened #74 "Fix bugs"
After I converted to Esm modules, some minor functionalities broke. I can remember of:

- minimax button
- drag and drop cards on phone devices
- icons vanished because I removed font awesome so any free replacement without no subscription is cool to have

[2022-08-16 06:43] bacloud22 commented on #74
Partially done.
Drag & drop on phone devices still problematic because of inline JS.
Todo: replace inline JS with script resources as usual.

https://github.com/bacloud22/WeatherVenue/blob/535cf37e8d65a8f62bfad0b9a1bc0419866ea1db/client/js/models/TemperatureCard.js#L74

https://github.com/bacloud22/WeatherVenue/blob/535cf37e8d65a8f62bfad0b9a1bc0419866ea1db/client/js/weathervenue.js#L177

[2022-08-16 21:24] bacloud22 opened #75 "Use Eta *layouts* instead of *partials*"
In this case, I think *layouts* come are handy

[navbar.eta](https://github.com/bacloud22/WeatherVenue/blob/master/templates/navbar.eta)
[navbar_ar.eta](https://github.com/bacloud22/WeatherVenue/blob/master/templates/navbar_ar.eta)
[navbar_en.eta](https://github.com/bacloud22/WeatherVenue/blob/master/templates/navbar_en.eta)
[navbar_fr.eta](https://github.com/bacloud22/WeatherVenue/blob/master/tem

[2022-08-19 10:17] bacloud22 opened #76 "Replace `dom-to-image` with `dom-to-image-more` or `html2canvas`"

[2022-09-27 14:03] rksingh2001 commented on #76
I would like to take up this issue @bacloud23, can you provide a small description so I can get an idea for motivation behind this?

[2022-09-27 14:05] bacloud23 commented on #76
hey,just search where the package is used and then check for its replacement and their respective documentation.

[2022-10-01 15:54] oluwatobi2001 opened #77 "Provide translations"
I would love to provide translations in another language

[2022-10-07 21:29] tanitoluwam commented on #75
i would love to work on this, could you assign me to it

[2022-10-08 08:09] bacloud23 commented on #75
hey @tanitoluwam let's try that!

[2022-10-10 08:22] bacloud23 commented on #75
@tanitoluwam any follow up ? thanks !

[2022-10-10 08:26] #28 closed

[2022-10-10 09:25] bacloud23 opened #79 "offer host ?"
Would require a Node.js/ Redis instance !

[2022-10-10 09:30] PranjalAgni commented on #79
Hi, what needs to be done here? Can you please elaborate

[2022-10-10 09:39] bacloud23 commented on #79
Hi @PranjalAgni
looking for a host sponsor to deploy the app
--with a reference to the brand or anything...

[2022-10-10 12:53] bacloud23 opened #80 "Better design"
let's offer a neo-classic weather web app a better suit.
CSS & colors involved!

[2022-10-10 12:55] pscon commented on #80
@bacloud23 assign this task to me

[2022-10-10 12:58] bacloud23 commented on #80
let go @pscon 🎉